@use './variables.scss' as *;

.card {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__wrapper {
    margin: 0;
    padding: 32px 16px 16px;
    box-sizing: border-box;
  }

  &__image {
    width: 160px;
    height: 134px;
    display: block;
    margin: 0 auto;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
    margin-top: 40px;
    margin-bottom: 4px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
    margin: 0;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    height: fit-content;
  }

  &__rating--pos {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__reviews {
    display: flex;
    align-items: end;
    padding: 0;
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $main-color;
    vertical-align: bottom;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-label {
      font-size: 12px;
      line-height: 18px;
      color: $secondary-color;
      margin: 0;
    }
    &-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $main-color;
      margin: 0;
    }
  }
  &__button {
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $background-color;
    background-color: $button-color;
    border-radius: 5px;
    margin-top: 16px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: $background-color;
      border: 1px solid $button-color;
      color: $button-color;
    }
  }
}
